* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,select,input,option {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

html {
  -webkit-text-size-adjust: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
  display: block;
}

audio,canvas,video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

nav ul,nav ol {
  list-style: none;
  list-style-image: none;
}

button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

ol,ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,th,td {
  text-align: left;
  font-weight: 400;
}

a {
  text-decoration: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: "";
}

blockquote,q {
  quotes: "" "";
}

table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

img {
  border: 0 none;
  max-width: 100%;
}

a {
  outline: none;
  cursor: pointer;
}

.none {
  display: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a:active,
a:hover,
a:focus{
  text-decoration: none;
}

.nudge{
  display: none;
}

.cf:before,.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.clearfix:before,
.clearfix:after{
  clear: both;
  content: "";
  display: table;
}

@font-face {
  font-family: 'flexslider-icon';
  src:url('../fonts/flexslider-icon.eot');
  src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flexslider-icon.woff') format('woff'),
    url('../fonts/flexslider-icon.ttf') format('truetype'),
    url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: 'Museo Sans', Arial;
  color: #5a5a5a;
  /* margin-top: 70px; */
  position: relative;
  overflow-x: hidden;
}