/*=================================
Large devices   (993 to 1200px)
==================================*/
@media (max-width: 1200px) {

  #hero h1{
    font-size: 4em;
  }
  #our-story .story{
    padding:120px 0px 60px;
  }
}

/*=================================
Medium devices  (769 to 992px)
==================================*/
@media (max-width: 992px) {

  #hero h1{
    font-size: 2.5em;
  }
  #banner .words h2{
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
  }
  #banner .words{
    margin: 0 auto;
    display: block;
  }
  #banner .words .absolute{
    left: 0;
    right: 0;
  }
  #our-story .container {
    background-image: none;
    background-color: white;
  }
  #our-story .story {
    width: 100%;
    max-width: 90%;
    margin-bottom: 0;
    padding: 120px 13% 60px;
  }
  #our-story .story p {
    width: 100%;
  }
}

/*=================================
Small devices   (577 to 768px)
==================================*/
@media (max-width: 767px){
  #hero h1{
    width: 85%;
  }
  #navbar nav .navbar-collapse{
    margin-top: 50px;
    text-align: center;
  }
  #navbar nav .navbar-collapse a{
    height: 40px;
  }
  #navbar .navbar-brand img{
    margin-left: 0;
  }
  .nudge{
    display: block;
  }
  #banner .row {
    flex-direction: column;
  }
  #banner .row .item1 {
    order: -1;
  }
  #banner .row .item2 {
    order: 0;
  }
  #banner .words h2{
    font-size: 30px;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
  }
  #banner .microwave-callout {
    /* margin-top: 8px; */
  }
  #banner .microwave-callout img{
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
    max-width: 400px;
  }
  #banner .words p{
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
  }
  #our-story .story {
    padding: 120px 0px 60px;
  }

  #footer .footerlogo img{
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
  }
  #footer h4 {
    padding-top: 20px;
  }
}

/*=================================
Extra small     (0 to 576px)
==================================*/
@media (max-width: 575px) {
  #hero h1{
    font-size: 2em;
  }
  #products #lg-slider.flexslider .slides img{
    margin: 0 auto;
    width: 450px;
    max-width: 80%;
  }
  #hero h2{
    font-size: 2rem;
  }
  #banner .microwave-callout img{
    padding-right: 5%;
  }
  #our-story .story p {
    width: 100%;
  }
  #social-banner {
    background-position: 70% center;
  }
  #social-banner h2{
    font-size: 3rem;
  }
  #footer .container-fluid span{
    width: 100%;
    display: block;
  }
}