/*=================================
    FOOTER CSS
==================================*/
#footer {
  background-color: #000;
  padding-top: 31px;
  text-align: center;
  color: white;
  font-size: 12px;
}
#footer .container-fluid {
  background-color: #c32f24;
  padding: 10px;
}
#footer .container-fluid span {
  margin: 10px .75% 10px 0;
  color: black;
}
#footer .footerlogo img {
  width: 100%;
  max-width: 370px;
}
#footer h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  padding-top: 50px;
}
#footer p:last-child {
  padding-bottom: 75px;
}
#footer .container a {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
}
#footer .container-fluid a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: black;
}
#footer .container a,
#footer .container-fluid a {
  transition: all ease-in-out .3s;
}
#footer .container-fluid a:hover {
  border-color: black;
}
#footer .container a:hover {
  border-color: transparent;
}
#footer .legal{
  padding:0 10px;
}