/*=================================
           Header nav
==================================*/
#navbar{
  background-color: black;
}
#navbar .bg-inverse{
  background-color: black!important;
  border-bottom: 5px solid #c32f24;
}
#navbar button{
  margin-top: 7px;
}
#navbar .navlogo{
  padding: 8px 0;
  z-index: 11;
  margin-top: -24px;
}
#navbar .navbar-brand{
  margin-top: -6px;
  padding: 0;
  width: 300px;
  max-width: 90vw;
  height: 65px;
}
#navbar .navbar-brand:hover{
  border-bottom: none!important;
  text-decoration: none;
}
#navbar nav .navbar-collapse a{
  transition: all .3s;
  height: 50px;
}
#navbar nav .navbar-collapse a:hover{
  color: white!important;
  border-bottom: 2px solid #c32f24;
}
#navbar nav .navbar-collapse li:last-child a:hover{
  background-color: #c32f24;
  border-radius: 10px;
}
#navbar nav .navbar-collapse a:focus{
  color: white!important;
  padding-bottom: 4px!important;
  border-bottom: 2px solid #c32f24;
}
#navbar nav ul{
  width: 100%;
  font-size: 18px;
}
#navbar nav li{
  margin: 0 2%;
  width: auto;
  text-align: center;
  white-space: nowrap;
}
#navbar nav i{
  font-size: 18px;
}
.navbar{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .85rem 1rem;
  margin-bottom: 0;
}
.navbar-nav{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-inverse .navbar-toggle{
  border-color: rgba(255,255,255,.1);
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-brand{
  color: #fff;
}
.navbar-toggle-right{
  position: absolute;
  right: 1rem;
}
.navbar-collapse{
  border-top: none;
  box-shadow: none;
}
.navbar-collapse.in{
  overflow-y: inherit;
}
.nav-link {
  display: block;
  padding: .5em 1em;
}
#navbar nav .navbar-collapse li:last-child a:hover{
  padding: 10px!important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: transparent;
}