/*=================================
    Carousel SECTION
==================================*/
#hero {
  margin-top:90px;
}
#hero .carousel {
  background: #a4a4a4;
}
#hero .carousel-caption{
  display: flex;
  align-items: center;
  left: 15%;
  right: 15%;
  padding-bottom: 20px;
}
#hero .overlay{
	width: 100%;
	height: 100%;
	background: transparent; // rgba(0,0,0,0.25)
	position: absolute;
	top: 0;
	left: 0;
}
#hero .carousel-item a {
  margin-top: 40px;
  display: inline-block;
}
#hero h1{
  font-size: 4em;
  width: 100%;
  text-shadow: 1px 1px 2px #4a4a4a;
}
#hero a{
  float: right;
}
#hero .carousel-item{
  height: 100%;
  background-color: black;
}
#hero .carousel-caption{
  text-align: left;
  top: 0;
  align-items: flex-start;
}
#hero img{
  width: 100%;
  height: 100%;
  max-height: 650px;
  max-width: 1920px;
}
#hero .btn {
  color: #fff;
  background-color: #31b0d5;
  border-color: #31b0d5;
  padding: .75rem 1.25rem;
  transition: all .2s ease-in-out;
  font-weight: 700;
}
#hero .cta{
  width: 65%;
  margin-top: 5%;
}
#hero .btn:hover{
  color: #fff;
  background-color: #01549b;
  border-color: #025aa5;
}

/*=================================
    microwave SECTION
==================================*/
#banner{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
  height: 245px;
}
#banner .bannerTop{
  background: radial-gradient(circle at 100px 150px, #72c3e6 200px, #21b4dc);
  z-index: 3;
  height: 225px;
}
#banner .microwave-callout img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  float: right;
  width: 100%;
  max-width: 400px;
}
#banner .goldbar{
  height: 20px;
  background-color: yellow;
  background: linear-gradient(90deg, #f1c618 10%, #fff2d6, #f1c618 90%);
}
#banner .microwave-callout {
  position: relative;
  height: 225px;
}
#banner .words{
  text-transform: uppercase;
  width: 100%;
  max-width: 720px;
  display: flex;
  height: 225px;
  flex-direction: column;
  justify-content: center;
}
#banner .words .absolute{
  position: absolute;
  text-shadow: 2px 2px 2px #006296;
  z-index: 2;
}
#banner .words h2{
  z-index: 5;
  color: white;
  margin: 0;
  background: -webkit-linear-gradient(#fff, #fff2d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 900;

}
#banner .item2{
  margin-right: 0;
  position: absolute;
}

/* Microwave blinking
---------------------------*/

#banner .blink {
  -webkit-animation-name: blink;
     -moz-animation-name: blink;
       -o-animation-name: blink;
          animation-name: blink;
  -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
           animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
       -o-animation-duration: 1.5s;
          animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}


/*=================================
    PIZZA BOXES SECTION
==================================*/
#products{
  margin-bottom: 80px;
}
#products .slides li:first-child{
  margin-bottom: 70px;
}
#products #lg-slider.flexslider .slides img{
  margin: 0 auto!important;
  padding-top: 10px;
  /*padding:10px;*/
  width: 80%;
  max-width: 450px;
  -webkit-filter: drop-shadow(-4px -4px 4px #222);
  filter: drop-shadow(-4px -4px 4px #222);
}
#products #lg-slider.flexslider .slides h2{
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 24px;
  font-size: 20px;
}
#products #carousel.flexslider li:hover{
  opacity: .8;
}
#products #lg-slider .flex-viewport ul{
  transform: translate3d(-1062px, 0px, 0px);
}
#products .flexslider{
  background: none;
  border: none;
  padding-top: 40px;
  margin: 0 auto;
}
#carousel.flexslider{
  padding-top: 0;
}
#products .tablecloth{
  position: absolute;
  width: 100%;
  height: 250px;
  background-image: url("../images/cloth.jpg");
  background-repeat: repeat;
}
#products #carousel.flexslider li{
  width: 210px;
}
#products #carousel.flexslider img{
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
#products .flex-direction-nav a  {
  line-height: 40px;
  top: 40%;
  opacity:1;
  color: #fff;
  background-color: #c32f24;
  border-radius: 50%;
  text-align: center;
  border:2px solid black;
}
#products .flex-viewport{
  margin: 0 auto!important;
}
#products p{
  margin-top: 15px;
  color: #bdbfca;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
}
#products .where-to-buy{
  margin: 25px 0;
}
#products i{
  margin-right: 5px;
}
#products li:hover,
#products li:focus{
  cursor: pointer;
}
#products li:hover p, #products li:focus p {
  color: #15a4d4;
}
#products .flex-active-slide p {
  color: #c32f24;
}
/*=================================
OUR STORY SECTION
==================================*/

#our-story {
  width: 100%;
  font-size: 18px;
  margin: 0 auto;
  padding: 35px 0 0 0;
}

#our-story .row{
  display: flex;
  flex-wrap: wrap;
}

#our-story .story {
  background-color: white;
  padding: 120px 50px 60px;
  margin: 0 auto;
  margin-bottom: 250px;
  max-width: 800px;
}

#our-story .story p {
  width: 80%;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 12px;
}

#our-story .centered {
  margin: 0 auto;
}

#our-story img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  max-width: 350px;
}

#our-story .container {
  width: 100%;
  background-size: cover;
  background-image: url("../images/story-bg.jpg");
  background-repeat: no-repeat;
}

#our-story .container-fluid {
  position: relative;
  background-color: #c32f24;
  height: 200px;
  z-index: 3;
}

#our-story .mama {
  max-width: 180px;
  width: 100%;
  margin-top: 15px;
}

#our-story h2 {
  margin-top: 30px;
  font-size: 2rem;
  color: white;
  font-weight: 900;
  text-shadow: 3px 3px 0 #000,
  /* Simulated effect for Firefox and Opera
   and nice enhancement for WebKit */
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#our-story .authentic {
  margin-top: 40px;
  max-width: 525px;
}

/*=================================
    PIZZA FOR ONE SECTION
==================================*/
#social-banner{
  height: 400px;
  overflow: hidden;
  width: 100%;
  display: flex;
  background-size: cover;
  background-image: url("../images/pizza2.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#social-banner .container {
  display: flex;
}
#social-banner .row {
  align-items: center;
  margin: 0 auto;
  display: flex;
}
#social-banner h2{
  color: white;
  font-size: 5.3rem;
  font-weight: 900;
  text-align: center;
  font-family: "poetica-std";
  letter-spacing: 2px;
}
#social-banner sub{
  color: white;
  font-size: 2rem;
}
#social-banner p{
  color: white;
  font-size: 24px;
  text-align: center;
}
#social-banner .socials{
  margin: 0 auto;
  text-align: center;
}
#social-banner img{
  width: 30px;
}
#social-banner a{
  transition: opacity .5s;
}
#social-banner a:nth-child(2n){
  margin: 0 12px;
}
#social-banner a:hover{
  opacity: .8;
}