.d-none{
  display: none!important;
}
@media (min-width: 576px){
  #our-story .col-sm-12,
  #social-banner .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #our-story .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .d-sm-inline{
    display: inline!important;
  }
}
@media (min-width: 768px){
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm>.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #our-story .col-md-12,
  #social-banner .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #our-story .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 992px){
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  #our-story .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #our-story .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #our-story .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #social-banner .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .d-lg-block{
    display: block!important;
  }
}

/* Product Widget Homepage */
#products .ps-widget[ps-sku], .ps-widget[data-ps-sku]{
  font-family: 'Museo Sans', arial;
}
.btn-light-blue{
  background: #0275d8 url(../images/map-point.png) no-repeat 14%;
  border: 2px solid transparent;
}
.product-locator .ps-widget{
  margin: 100px auto 60px;
}
.product-locator.ps-open #ps-lightbox-background,
.home.ps-open #ps-lightbox-background{
  z-index: 1030!important;
}
.product-locator.ps-open .ps-lightbox,
.home.ps-open .ps-lightbox{
  z-index: 9999!important;
}
.ps-widget.btn-light-blue {
  float: none!important;
  width: 230px;
  padding-left: 30px!important;
  margin: 0 auto!important;
  background-color: #0275d8!important;
  border-color: #0267bf!important;
  color: #fff!important;
  font-size: 18px!important;
  border-radius: 6px!important;
}
#products .ps-widget.btn-light-blue{
  padding: .25rem 0;
  background-color: #31b0d5!important;
  transition: all .2s;
  border-color: #31b0d5!important;
}
#products .ps-widget.btn-light-blue:hover{
  background-color: #01549b!important;
  border-color: #01549b!important;
}
#products .flex-direction-nav .flex-next{
  right: 0;
}
#products .flex-direction-nav .flex-prev{
  left: 0;
}
#products #lg-slider.flexslider .slides>li{
  -webkit-backface-visibility: visible;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f001';
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: center;
}
#products #lg-slider .flex-prev{
  margin-left:16%;
}
#products #lg-slider .flex-next{
  margin-right:16%;
  padding-left:3px;
}
#products #carousel .flex-direction-nav .flex-prev{
  margin-left:-4%;
}
#products #carousel .flex-direction-nav .flex-next{
  margin-right:-4%;
}

@media (max-width: 1200px) {
  #hero h1{
    font-size: 4em;
  }
  #products #carousel .flex-direction-nav .flex-prev{
    margin-left:-2%;
  }
  #products #carousel .flex-direction-nav .flex-next{
    margin-right:-2%;
  }
}
@media (max-width: 992px) {
  #hero h1{
    font-size: 2.5em;
  }
  #products #lg-slider .flex-prev{
    margin-left:4%;
  }
  #products #lg-slider .flex-next{
    margin-right:4%;
  }
}
@media (max-width: 767px){
  #hero .cta{
    width:50%;
  }
}
@media (max-width: 575px) {
  #hero h1{
    font-size: 1.5em;
  }
  #hero .carousel-item a {
    margin-top:16px;
  }
  #hero .btn{
    padding: .5rem 1rem;
  }
  #hero .carousel-caption{
    left:10%;
  }
}